/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --orange: hsl(22, 89%, 52%);
  --orange-lt: hsl(22, 100%, 69%);
  --blue: hsl(220, 50%, 17%);
  --blue-lt: hsl(221, 23%, 58%);
  --gray-lt: hsl(198, 28%, 93%);
  --white: hsl(0, 0%, 100%);
  --space-sm: 24px;
  --space-med: 64px;
  --space-lg: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  color: var(--blue);
  margin: 0;
  padding-block: 24px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625;
  padding: 16px 26px;
  border: 0;
  border-radius: 8px;
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

.button.blue {
  background-color: var(--gray-lt);
  color: var(--blue);
}

.button.blue:hover {
  background-color: var(--blue);
  color: var(--white);
}

.button.orange {
  background-color: var(--orange);
  color: var(--white);
}

.button.orange:hover {
  background-color: var(--orange-lt);
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr calc(100% - 48px) 1fr;
}

.grid-content {
  grid-column: 2 / 3;
}

.topnav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


/* Hero Section Style */

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  color: var(--blue-lt)
}

p > strong {
  font-weight: 700;
}

strong.caps {
  text-transform: uppercase;
}

.gray-block {
  display: none;
  width: 255px;
  height: 240px;
  background-color: var(--gray-lt);
  border-radius: 20px;

}




/* MEDIA QUERIES */

/* 800px */
@media (width > 50em) {
  body {
    padding-block: 40px;
  }

  .grid-main {
    grid-template-columns: 1fr min(100% - 80px, 50rem) 1fr;
  }
}


/* 1200px */
@media (width > 75em) {
  body {
    padding-block: 55px;
  }

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.125rem;
  }

  .gray-block {
    display: block;
  }
}